#main{
  height: 960px;
  width: 960px;
  margin: 0 auto;
}
#main-container {
  height: 960px;
  width: 960px;
}

#MyButton {
  display: block;
  width: 100px;
  height: 50px;
  margin: 0 auto;
  margin-bottom: 9px;
}

.divGrids {
  background-color: #0226ff;
  width: 58px;
  height: 58px;
  margin: 1px;
  display: inline-block;
}

.hoverOn {
  background-color: #ff554d;
}
