body{
  background-color:#d80000;
}

.container{
  background-color:#ffffff;
  width:560px;
  height: 560px;
  margin: 0 auto;
  border: 1px solid black;
  overflow: hidden;
  border-sizing: border-box;
}

h1{
  text-align: center;
  color: #ecb030;
  text-shadow: 2px 2px 4px #000000;
  font-size: 3em;
  margin-top:0px;
}

.button{
  margin: 0 auto;
  display: inline;
  margin-bottom:10px;
  width: 25%;
}

.buttons-section{
  width: 560px;
  height: 50px;
  margin: 0 auto;
  text-align: center;
}

.square{
  background-color: #ffffff;
  opacity 1;
  margin: 0 0 0 0;
  height: 35px;
  width: 35px;
  float: left;
  box-sizing: border-box;
  border: .5px solid #000000;
  border-radius: 5px;
}

.hover-square{
  background-color: #000000;
  opacity: 1;
}

.dials{
  width: 760px;
  margin: 0 auto;
}

.left-dial{
  position: relative;
  float: left;
  width: 100px;
  height: 100px;
  border-radius: 50px;
  background-color: #ffffff;
  display: inline-block;
  box-shadow: 5px 5px 5px black;
  margin-bottom:50px;
}

.right-dial{
  position: relative;
  float: right;
  width: 100px;
  height: 100px;
  border-radius: 50px;
  background-color: #ffffff;
  display: inline-block;
  box-shadow: 5px 5px 5px black;
  margin-bottom:50px;
}
